body{
    margin: 0;
    padding: 0;
}
#container{
    display:grid;
    grid-template-rows:  85vh 7vh 8vh;
    grid-template-columns: 10vw 25vw 10vw 10vw 10vw auto 10vw;
    background-color: black;
}

#camera{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(196, 126, 126);

}

#gal{
    grid-column-start: 7;
    grid-column-end: 8;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

#gal:hover{
    cursor:pointer;
    background-color: rgb(37, 37, 37);
}
#effects{
    grid-column-start: 1;
    grid-column-end:2;
    background-color: rgb(0, 0, 0);

    font-family: monospace;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

#effects:hover{
    cursor: pointer;
    background-color: rgb(37, 37, 37);
}

#photo{
    background-color: rgb(0, 0, 0);
    grid-column-start: 3;
    grid-column-end: 4;

    display: flex;
    justify-content: center;
    align-items: center;
    border:1px black solid;
    border-radius: 100px;
}

#photo:hover{
    cursor:pointer;
    background-color: rgb(37,37,37);
}

#vid{
    background-color: rgb(0, 0, 0);
    grid-column-start: 5;
    grid-column-end: 6;
    border:1px black solid;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#vid:hover{
    cursor:pointer;
    background-color:  rgb(37,37,37);
}

#capture{
    background-color: rgb(0, 0, 0);
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
#capture img:hover{
    cursor:pointer;
    max-width: 100%; 
    max-height: 100%;
    height:auto; 
    width:auto;
}

#fx-list{
    display: hidden;
    height: 0;
    width: 100vw;
    z-index: 1;
    position: fixed;
    bottom: 8.01vh;
    width: 100vw;
    background-color: rgb(36, 36, 36);
    transition:0.5s;
    overflow:hidden;
    align-items: center;
    justify-content: center;
}   

#fx-list div{
    margin-left: 50px;
    position: relative;
    top: 20px;
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    border:2px solid white;
}

#fx-list div:hover{
    cursor: pointer;
    border: 2px solid grey;
}